@font-face {
  font-family: Chillax;
  src: url("../src/assets/fonts/Chillax-Regular.ttf");
}

@font-face {
  font-family: Inter;
  src: url("../src/assets/fonts/Inter-Regular.ttf");
}

@font-face {
  font-family: Inter-Bold;
  src: url("../src/assets/fonts/Inter-Bold.ttf");
}

@import "tailwindcss";

@theme {
  --white: #f5f5f5;
  --gray: #1f1f1f;
  --red: #b91c1c;
  --purple: #6b21a8;
  --font-chillax: Chillax, "sans-serif";
  --font-inter: Inter, "sans-serif";
  --font-inter-bold: Inter-Bold, "sans-serif";
}

@layer utilities {
  .bg-body {
    background-color: var(--gray);
  }
  .bg-dark-section {
    background-color: var(--gray);
  }

  .bg-light-section {
    background-color: var(--white);
  }

  .text-dark {
    color: var(--gray);
  }

  .text-light {
    color: var(--white);
  }
}

html {
  scroll-behavior: smooth;
  background-color: var(--gray);
}
