@font-face {
  font-family: Chillax;
  src: url("../src/assets/fonts/Chillax-Regular.ttf");
}

@font-face {
  font-family: Inter;
  src: url("../src/assets/fonts/Inter-Regular.ttf");
}

@font-face {
  font-family: Inter-Bold;
  src: url("../src/assets/fonts/Inter-Bold.ttf");
}

@import "tailwindcss";

@theme {
  --white: #F5F5F5;
  --gray: #1F1F1F;
  --red: #B91C1C;
  --purple: #6B21A8;
  --font-chillax: Chillax, "sans-serif";
  --font-inter: Inter, "sans-serif";
  --font-inter-bold: Inter-Bold, "sans-serif";
}

@layer utilities {
  .bg-body {
    background-color: var(--gray);
  }
  .bg-dark-section {
    background-color: var(--gray);
  }

  .bg-light-section {
    background-color: var(--white);
  }

  .text-dark {
    color: var(--gray)
  }

  .text-light {
    color: var(--white)
  }
}

html {
  scroll-behavior: smooth;
  background-color: var(--gray);
}